In [4]:
import sys
sys.path.append('../scripts')

In [5]:
import os
import pandas as pd
from parse_tcx import parse_tcx_to_df

In [8]:
folder_path = '../data'

all_results = []

for fname in os.listdir(folder_path):
    if fname.endswith('tcx'):
        file_path = os.path.join(folder_path, fname)
        try:
            df, total_time_sec, avg_hr, max_hr = parse_tcx_to_df(file_path)
            all_results.append({
                'file': fname,
                'total_time_min': total_time_sec / 60,
                'avg_hr': avg_hr,
                'max_hr': max_hr
            })
        except Exception as e:
            print(f"Failed to process {fname}: {e}")


summary_df = pd.DataFrame(all_results)
summary_df.head()

       file  total_time_min      avg_hr  max_hr
0   7-d.tcx       45.933333  152.479042     192
1  24-d.tcx       48.783333  145.069106     182
2  45-d.tcx       48.683333  170.113821     214
3  26-d.tcx       48.300000  142.364103     177
4   5-d.tcx       48.816667  161.837349     194

In [9]:
summary_df

        file  total_time_min      avg_hr  max_hr
0    7-d.tcx       45.933333  152.479042     192
1   24-d.tcx       48.783333  145.069106     182
2   45-d.tcx       48.683333  170.113821     214
3   26-d.tcx       48.300000  142.364103     177
4    5-d.tcx       48.816667  161.837349     194
5   67-d.tcx       44.716667  158.714953     191
6   43-d.tcx       50.200000  169.047619     197
7   41-d.tcx       48.750000  129.240175     152
8   58-d.tcx       49.683333  148.337037     184
9    3-d.tcx       42.550000  167.296296     200
10  20-d.tcx       48.733333  149.930693     185
11  65-d.tcx       46.866667  155.758772     194
12   4-d.tcx       48.866667  112.024194     150
13  27-d.tcx       46.966667  148.316667     186
14  60-d.tcx       44.533333  161.172249     189
15   6-d.tcx       43.050000  167.301887     197
16  44-d.tcx       50.216667  142.495652     185
17  38-d.tcx       45.850000  140.283333     185
18   2-d.tcx       48.816667  150.469767     186
19  59-d.tcx       49.850000  170.151751     205
20  66-d.tcx       44.800000  144.760563     182
21  42-d.tcx       48.700000  182.385714     210
22  36-d.tcx       45.233333  140.717277     185
23  12-d.tcx       48.816667  138.073593     183
24  57-d.tcx       49.733333  136.062500     173
25  10-d.tcx       25.916667   86.954198     110
26  55-d.tcx       34.166667  131.813793     167
27  68-d.tcx       44.200000  162.532847     192
28  34-d.tcx       47.733333  156.604000     204
29  48-d.tcx       45.900000  135.461538     164
30  30-d.tcx       48.183333  141.303483     187
31  51-d.tcx       50.150000  154.313208     198
32  29-d.tcx       48.733333  150.346320     184
33  53-d.tcx       46.716667  148.552885     187
34   8-d.tcx       48.600000  153.004065     185
35  32-d.tcx       48.583333  157.743697     198
36  69-d.tcx       44.133333  135.650485     163
37  54-d.tcx       47.366667  161.012605     188
38  11-d.tcx       48.883333  143.942478     184
39  35-d.tcx       46.933333  143.901575     189
40  37-d.tcx       48.900000  145.660000     179
41  56-d.tcx       50.033333  142.309623     185
42  13-d.tcx       42.050000  151.203297     188
43   9-d.tcx       48.450000  156.461832     195
44  52-d.tcx       46.916667  170.024155     204
45  33-d.tcx       48.816667  154.123457     186
46  31-d.tcx       48.866667  137.506383     172
47  50-d.tcx       50.183333  127.553846     182